@model OmniBankBinModel
@{
    //page title
    ViewBag.Title = T("Plugins.AllBank.Admin.BankBin.EditBankBinDetails").Text;
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "_ConfigurePlugin";
}
<form asp-area="@Constants.AreaAdmin" asp-controller="PaymentBankBin" asp-action="Edit" method="post">
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-credit-card"></i>
                        @T("Plugins.AllBank.Admin.BankBin.EditBankBinDetails") - @Model.BankName
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Plugins.AllBank.Admin.BankBin.BackToList").Text, "List") </small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                            <span id="bank-bin-delete" class="btn red"><i class="fa fa-trash-o"></i> @T("Admin.Common.Delete")</span>
                            <vc:admin-widget widget-zone="bank_bin_details_buttons" additional-data="Model" />
                        </div>
                    </div>
                </div>
                <div class="x_content form">
                    @* ReSharper disable once Mvc.PartialViewNotResolved *@
                    <partial name="~/Plugins/Payments.AllBank/Views/PaymentBankBin/_CreateOrUpdate.cshtml" model="Model" />
                </div>
            </div>
        </div>
    </div>
</form>
<admin-delete-confirmation button-id="bank-bin-delete"/>
