@model HomePageNewsItemsModel
@inject DisplayOrderHomePage order
<div class="news-list-homepage hp-section customGrid order-@order.HomePageNews">
    <div class="generalMarginSupporter">
        <h2 class="generalTitle page-title text-center">
            @T("News")
        </h2>
        </div>
    <div class="col-12 px-0">
        <div class="flex-grid form-row">
            @foreach (var item in Model.NewsItems)
            {
                <div class="col-xl-@order.Pn_Xl col-lg-@order.Pn_Lg col-md-@order.Pn_Md col-sm-@order.Pn_Sm col-@order.Pn_Col mb-3">
                    <div class="card news-card lazy-box lazyload">
                        <div class="card-header border-bottom-0 p-0">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                @if (item.PictureModel != null && !string.IsNullOrEmpty(item.PictureModel.ImageUrl))
                                {
                                    <div class="img-container">
                                        <img class="img-fluid lazyload" alt="@item.PictureModel.AlternateText" data-src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                                    </div>
                                }
                                <span class="news-date"><span class="lnr linearicons-calendar-text mr-2"></span>@item.CreatedOn.ToString("D")</span>
                                <h3 class="h5 news-title">@item.Title</h3>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            @Html.Raw(item.Short)
                        </div>
                        <div class="card-footer text-center border-top-0">
                            <a class="btn btn-secondary btn-underline read-more" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@T("News.MoreInfo")</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="view-all text-center">
        <a class="btn btn-outline-secondary text-uppercase" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
    </div>
</div>